<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Wirral Wheelers</title>

    <environment include="Development">
        <link rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
            integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" 
            crossorigin="anonymous">
        <!-- <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" /> -->
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
            integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
            crossorigin="anonymous">
        <!-- <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" /> -->
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
</head>

<body>
@functions {
    public string IsActive(string page)
    {
        return @ViewData["Title"].Equals(page) ? "active" : "";
    }
}

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-primary">
        <a class="navbar-brand" href="/index">
            <img src="~/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Wirral Wheelers
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" 
            aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class='nav-item @IsActive("Home")'>
                    <a class="nav-link" href="/index">Home
                    </a>
                </li>
                <li class='nav-item @IsActive("Rides")'>
                    <a class="nav-link" href="/rides">Rides</a>
                </li>
                <li class='nav-item @IsActive("RideArchive")'>
                    <a class="nav-link" href="/rideArchive">Ride Archive</a>
                </li>
                <li class='nav-item @IsActive("ProposedRides")'>
                    <a class="nav-link" href="/proposedRides">Proposed Rides</a>
                </li>
                <li class='nav-item @IsActive("Gallary")'>
                    <a class="nav-link" href="/gallary">Gallary</a>
                </li>
                <li class='nav-item @IsActive("Contact")'>
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
                <li class='nav-item @IsActive("About")'>
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class='nav-item @IsActive("Charity2016")'>
                    <a class="nav-link" href="/charity2016">Charity 2016</a>
                </li>
                <li class='nav-item @IsActive("Charity2017")'>
                    <a class="nav-link" href="/charity2017">Charity 2017</a>
                </li>
                <li class='nav-item @IsActive("Charity2018")'>
                    <a class="nav-link" href="/charity2018">Charity 2018</a>
                </li>
            </ul>
        </div>
    </nav>

    <main role="main" class="container">
        <div class="container body-content">
            @RenderBody()
        </div>
    </main>

    <footer role="footer" class="footer">
        <hr>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-3">
                <div class="font-weight-light" style="font-size: 12px;">
                    &copy; 2018 - Wirral Wheelers Cycling Club<br />
                    Cycling UK Affiliation No: 90095292
                </div>
            </div>
            <div class="col text-right">
                <a target="_window" href="https://www.facebook.com/groups/720974911368611/" class="right fa fa-facebook-official fa-2x white-text"></a>
                <a target="_window" href="https://www.google.com/" class="right fa fa-google-plus-official fa-2x white-text"></a>
                <a target="_window" href="https://www.instagram.com/" class="right fa fa-instagram fa-2x white-text"></a>
                <a target="_window" href="https://www.twitter.com/" class="right fa fa-twitter fa-2x white-text"></a>
            </div>
            <div class="col-1"></div>
        </div>
    </footer>

    <environment include="Development">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" 
            integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" 
            crossorigin="anonymous"></script>        
        <!-- <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script> -->
        <script src="https://use.fontawesome.com/8c9ab5c7a2.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" 
            integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" 
            crossorigin="anonymous"></script>        
        <!-- <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"> -->
        </script>
        <script src="https://use.fontawesome.com/8c9ab5c7a2.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
