@page "{id:int}"

@model RideDetailsModel
@{
    ViewData["Title"] = "Ride Details page";
}

@functions {
    public string GetClass(string level) {
        if (level.Equals("A")) {
            return "red-ride";
        }
        if (level.Equals("B")) {
            return "blue-ride";
        }
        if (level.Equals("C")) {
            return "green-ride";
        }
        return "purple-ride";
    }
}

<div class="row pt-4">
    <div class="col">
        <div class="card ride-details @GetClass(@Model.Ride.Level) mb-2">
            <div class="card-body">
                <a asp-page="rideDetails" asp-route-id="@Model.Ride.Id">
                    <h5 class="card-title">@Model.Ride.Date.ToString("dd MMMMM yyyy") - @Model.Ride.Title</h5>
                    <h6 class="card-subtitle mb-2">@Model.Ride.Description</h6>
                    <p class="pb-0 mb-0">Ride Leader: @Model.Ride.RideLeader</p>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row pt-4">
    <div class="col">
        <img src="~/rides/@Model.Ride.Map" alt="No map available for this ride" class="w-100" />
    </div>
    <div class="col">
        <img src="~/rides/@Model.Ride.Distance" alt="No distance details are available for this ride" class="w-100" />
    </div>
    <div class="col">
        <img src="~/rides/@Model.Ride.Elevation" alt="No elevation details are available for this ride" class="w-100" />
    </div>
</div>
